#root {
  height: 100vh;
  margin: 900px;
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}

.mobile-no-scroll {
  overflow: hidden;
}

.arena {
  width: 100vw;
  height: 100%;
  position: relative;
  user-select: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.enemy {
  position: absolute;
  user-select: none;
}

.player {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.prop {
  position: absolute;
  user-select: none;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
}

@media (max-width: 786px) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  label {
    font-size: x-small;
    margin: 0;
    padding: 0;
  }

  button {
    margin: 0;
    padding: 0;
    font-size: x-small;
  }
}

label {
  display: block;
}

button {
  display: block;
  margin: 20px auto;
  border: "4px solid #999999";
}

.lucyInput {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

h5 {
  margin-bottom: 0px;
}


@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.hover {
  animation: hover 2.5s linear infinite;
}

@keyframes hover2 {
  0% {
    transform: translateX(15px);
  }
  25% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
.hover2 {
  animation: hover2 2.5s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes crash {
  0% {
    transform: translateX(0) rotateZ(0) scale(1);
  }
  50% {
    transform: translateY(55px) rotateZ(20deg);
  }
  99% {
    transform: translateY(125px) rotateZ(130deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.crash {
  animation: crash 1.0s ease-in-out forwards;
}